@use '~@material/floating-label/mdc-floating-label';
@use '~@material/notched-outline/mdc-notched-outline';
@use '~@material/textfield';

@include textfield.core-styles;

@media (prefers-color-scheme: dark) {
    .mdc-text-field {
        .mdc-text-field__icon, .mdc-text-field__input {
            color: #FFF !important;
        }
    }

    .mdc-text-field:not(.mdc-text-field--focused) {
        .mdc-floating-label {
            color: #FFF !important;
        }
    }

    .mdc-text-field--outlined:not(.mdc-text-field--focused) {
        .mdc-notched-outline__leading,
        .mdc-notched-outline__notch,
        .mdc-notched-outline__trailing {
            border-color: #FFF !important;
        }
    }

    .mdc-text-field-helper-text {
        color: var(--mdc-theme-text-primary-on-light) !important;
    }
}