body {
    font-family: 'Exo', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body.fullheight {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Exo', sans-serif;
    font-weight: 600;
}

button, .button { font-family: 'Exo', sans-serif; }

.logo { height: 32px; }
.flex-justify-space-between { justify-content: space-between; }
[hidden]{ display:none; }
.margin-right-8 { margin-right: 8px; }
.max-w-400 { max-width: 400px; }

.status-pending { color: #CAAF85; }
.status-accepted { color: #35C572; }
.status-rejected { color: #B0373C; }

.at-r { text-align: right; }
.margin-0 { margin: 0; }
.padding-0 { padding: 0; }

.cursor-pointer {
    cursor: pointer;
}

.header-button {
    margin: 0;
    border: none;
    border-radius: 0;
}

.main-box {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
}

#map {
    flex: 2;
    height: 100%;
    min-width: 300px;
}

@media screen and (max-width: 600px) {
    #map { height: 40% !important; }
    #cardList { height: 60% !important; }
}

/* Card Suit */
#cardList {
    flex: 1;
    background-color: #E5E5E5;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    overflow-y: scroll;
    min-width: 300px;
    height: 100%;
}

.list-item {
    display: flex;
    flex-shrink: 0;
    flex-basis: auto;
    margin: 4px 8px;
}

.card {
    flex: 1;
    border-radius: 4px;
    box-shadow: 0 2px 2px 1px #C0C0C0;
    background-color: #FFF;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: background-color 0.3s;
}

.card:hover {
    background-color: #D0D0D0;
}

#portalImg {
    border-radius: 50%;
    box-shadow: 0 2px 2px 1px #C0C0C0;
    object-fit: cover;
    object-position: center;
    width: 80px;
    height: 80px;
    margin: 4px;
}

#portalTitleLink {
    color: #000;
    text-decoration: none;
}
