:root {
    --mdc-theme-primary: #3b1e5f !important;
    --mdc-theme-secondary: #2578B5 !important;

    --color-pending: #CAAF85;
    --color-pending--dark: #988058;
    --color-pending--light: #fEE1B5;
    --color-accepted: #35C572;
    --color-accepted--dark: #009345;
    --color-accepted--light: #71F9A1;
    --color-rejected: #B0373C;
    --color-rejected--dark: #7A0016;
    --color-rejected--light: #E76866;
}

.status-pending  { color: var(--color-pending ) !important; }
.status-accepted { color: var(--color-accepted) !important; }
.status-rejected { color: var(--color-rejected) !important; }

.status-pending--bg  { background-color: var(--color-pending ) !important; }
.status-accepted--bg { background-color: var(--color-accepted) !important; }
.status-rejected--bg { background-color: var(--color-rejected) !important; }

code { font-size: 14px; }
[hidden]{ display:none !important; }
.fullwidth { width: 100%; }

.margin-l--4 { margin-left: 4px; }
.margin-l--8 { margin-left: 8px; }
.margin-h--4 { margin-left: 4px; margin-right: 4px; }
.margin-v--8 { margin-top: 8px; margin-bottom: 8px; }

.padding--8 { padding: 8px; }
.padding--16 { padding: 16px; }

/* Flexbox */
.flex-box { display: flex; }
.flex-box-row--wrap   { display: flex; flex-flow: row      wrap; }
.flex-box-row--nowrap { display: flex; flex-flow: row    nowrap; }
.flex-box-col         { display: flex; flex-flow: column nowrap; }
/* Main Axis */
.flex-justify-content--start   { justify-content: flex-start; }
.flex-justify-content--between { justify-content: space-between; }
.flex-justify-content--around  { justify-content: space-around; }
/* Cross Axis */
.flex-align-items--start  { align-items: flex-start; }
.flex-align-items--center { align-items: center; }
/* Item */
.flex--1 { flex: 1; }
.flex--2 { flex: 2; }
.flex-grow--1 { flex-grow: 1; }
.flex-grow--2 { flex-grow: 2; }
.flex-shrink--1 { flex-shrink: 1 !important; }

/* Contents */
html { height: 100%; }

body {
    margin: 0;
    background-color: var(--mdc-theme-background) !important;
}

h1, h2, h3, h4 { margin-block-end: 0; }
a { color: var(--mdc-theme-text-primary-on-light); }
.mdc-data-table { margin-block-start: 0.5rem; margin-block-end: 0.5rem; }

body.fullheight {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

.logo { height: 32px; }

#button-appBar-view { display: none; }

.mdc-linear-progress__bar-inner {
    background-color: var(--mdc-theme-secondary) !important;
}

.main-box {
    flex: 1;
    display: flex;
    min-height: 0%;
    flex-flow: row wrap;
}

/* Dashboard */
#dashboard {
    flex: 2;

    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;

    overflow-y: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: 4px;
}

#dashboard > .mdc-card {
    margin: 4px !important;
}

.container-chart {
    flex-grow: 1;
    position: relative;
}

canvas.canvas-chart--h { width: 100%  !important; }
canvas.canvas-chart--v { height: 100% !important; }

/* Map */
#card-map {
    flex: 3; flex-shrink: 1;
    height: 200px;
    min-width: 300px;
}

#map-card-map {
    width: 100%;
    height: 100%;
    clip-path: inset(100% round 4px);
    -webkit-clip-path: inset(0 round 4px);
}

/* Filter */
#card-filter {
    flex: 2; flex-shrink: 1;
    padding: 8px;
    min-width: 200px;
    min-height: 200px;
}

/* Stats: Type */
#card-stats-type {
    flex: 1; flex-shrink: 1;
    padding: 8px;
    height: 200px;
    min-width: 200px;
}

/* Stats: Rejected */
#card-stats-rejected {
    flex: 2; flex-shrink: 1;
    padding: 8px;
    height: 200px;
    min-width: 250px;
}

/* Quotas */
#card-quotas {
    flex: 2; flex-shrink: 1;
    padding: 8px;
    height: 200px;
    min-width: 200px;
}

/* Card List */
#card-list {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    overflow-y: scroll;
    min-width: 300px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

#card-list > :first-child { margin-top:    8px !important; }
#card-list > :last-child  { margin-bottom: 8px !important; }

/* Card */
.mdc-card {
    margin: 4px 8px;
    flex-shrink: 0;
    flex-basis: auto;
}

.mdc-card-info-box {
    padding: 8px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.mdc-card-info-content {
    margin-right: 8px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.mdc-card img {
    object-fit: cover;
    object-position: center;
    width: 120px;
    min-width: 120px;
    height: 120px;
    min-height: 120px;
}

/* Dialog */
.mdc-dialog-content-block {
    padding: 0px 8px;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}

#dialog-details img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 150px;
}

#map-dialog-details {
    min-height: 180px;
    flex-grow: 1;
}

textarea.code {
    font-family: monospace;
    line-height: 1rem !important;
}

/* Switch */
.mdc-switch-box {
    padding: 4px 0px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.mdc-switch-box > label {
    margin-left: 0.5em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

/* Data Table */
.mdc-data-table__cell--wrap { white-space: normal !important; }

/* Mobile View */
@media screen and (max-width: 600px) {
    .view-hide { display: none !important; }
    #button-appBar-view { display: block; }
}