@use "@material/chips/mdc-chips";
@use "@material/dialog";
@use "@material/form-field";
@use "@material/radio";
@use "@material/typography/mdc-typography";

@include dialog.core-styles;
@include form-field.core-styles;
@include radio.core-styles;

@media (prefers-color-scheme: dark) {
    .mdc-radio__native-control:enabled:not(:checked)+.mdc-radio__background .mdc-radio__outer-circle {
        border-color: #FFF !important;
    }

    .mdc-chip {
        // 24dp
        background-color: #282828;
        color: rgba(255, 255, 255, 0.87);
    }
}