<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Potori</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="dark" />
    <meta name=”theme-color” content="#3b1e5f" />
    <link rel="icon" href="./assets/icon.svg" />
    <link rel="apple-touch-icon" href="./assets/icon-180.png" />
    <link rel="manifest" href="./manifest.json" />

    <!-- CSS -->
    <% for (const css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
    <!-- MDC -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/5.1.0/material-components-web.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Material+Icons" />
    <!-- Mapbox -->
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css" />
    <!-- Chart.js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />

    <!-- Scripts -->
    <!-- GAPI -->
    <script defer src="https://apis.google.com/js/api.js"></script>
    <!-- Mapbox  -->
    <!--<script defer src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js"></script>-->
    <!-- MDC -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/5.1.0/material-components-web.min.js"></script>
    <!-- Chart.js -->
    <!--<script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>-->
    <!-- Firebase -->
    <!--<script defer src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/7.15.0/firebase-database.js"></script>-->
    <% for (const js in htmlWebpackPlugin.files.js) { %>
    <script defer src="<%= htmlWebpackPlugin.files.js[js] %>"></script>
    <% } %>

</head>

<body></body>

</html>