<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Potori</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="dark" />
    <meta name=”theme-color” content="#3b1e5f" />
    <link rel="icon" href="./assets/icon.svg" />
    <link rel="apple-touch-icon" href="./assets/icon-180.png" />
    <link rel="manifest" href="./manifest.json" />

    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Material+Icons" />
    <% for (const css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
    <!-- Scripts -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167399687-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-167399687-2');
    </script>

    <script defer src="https://apis.google.com/js/api.js"></script>
    <% for (const js in htmlWebpackPlugin.files.js) { %>
    <script defer src="<%= htmlWebpackPlugin.files.js[js] %>"></script>
    <% } %>
</head>

<body></body>

</html>