<!DOCTYPE html>
<html>
    <meta charset="utf-8" />
    <head>
        <title>Potori | Intro & Privacy</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/>
        <!-- CSS -->
        <% for (const css in htmlWebpackPlugin.files.css) { %>
        <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
        <% } %>
        <!-- MDC -->
        <link rel="stylesheet" href="https://unpkg.com/material-components-web@5.1.0/dist/material-components-web.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Material+Icons" rel="stylesheet">
        <!--<script defer src="https://unpkg.com/material-components-web@5.1.0/dist/material-components-web.min.js"></script>-->
        
        <% for (const js in htmlWebpackPlugin.files.js) { %>
        <script defer src="<%= htmlWebpackPlugin.files.js[js] %>"></script>
        <% } %>
    </head>
    <body class="mdc-typography">
        <header class=" mdc-top-app-bar">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <span class="mdc-top-app-bar__title">
                        <a class="logo" href="../">Potori</a>
                        |
                        <span lang="en-US">Intro & Privacy</span>
                        <span lang="zh-CN" hidden>介绍 & 隐私</span>
                    </span>
                </section>
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                </section>
            </div>
        </header>
        
        <div class="mdc-top-app-bar--fixed-adjust"></div>

        <div class="padding--16">
            <p class="mdc-typography--body1">
                <span lang="en-US">Potori is a web application to gather and visualize your Ingress Portal nominations. Potori will obtain your mails related to Portal nominations from your Gmail inbox, so you must login with your account to use it.</span>
                <span lang="zh-CN" hidden>Potori是一个可以收集您的Ingress能量塔提名并可视化的网页应用。Potori需要从您的Gmail邮箱中获取与能量塔提名相关的邮件，因此您必须登录您的账号才能使用。</span>
            </p>

            <h2 class="mdc-typography--headline2">
                <span lang="en-US">Permission</span>
                <span lang="zh-CN" hidden>权限</span>
            </h2>
            <p class="mdc-typography--body1">
                <span lang="en-US">Potori requires the following permissions:</span>
                <span lang="zh-CN" hidden>Potori需要以下权限：</span>

                <div class="mdc-data-table">
                    <table class="mdc-data-table__table" aria-label="Permissions">
                        <thead>
                            <tr class="mdc-data-table__header-row">
                                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">
                                    <span lang="en-US">Permission</span>
                                    <span lang="zh-CN" hidden>权限</span>
                                </th>
                                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">
                                    <span lang="en-US">Describe</span>
                                    <span lang="zh-CN" hidden>描述</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="mdc-data-table__content">
                            <tr class="mdc-data-table__row">
                                <td class="mdc-data-table__cell">
                                    <span lang="en-US">Gmail: Read Only</span>
                                    <span lang="zh-CN" hidden>Gmail：只读</span>
                                    <br/>
                                    <span class="mdc-typography--caption">
                                        <span lang="en-US">REQUIRED</span>
                                        <span lang="zh-CN" hidden>必须</span>
                                    </span>
                                </td>
                                <td class="mdc-data-table__cell mdc-data-table__cell--wrap">
                                    <span lang="en-US">
                                        This is the core permission on which Potori is dependent. Potori will obtain mails related to Ingress Portal nomination, then extract and display informations from them.<br/>
                                        The mail IDs will be saved in data file if you save the data file in your computer or your Google Drive. Except that, all of your mail data will stay in your browser page.
                                    </span>
                                    <span lang="zh-CN" hidden>
                                        这是Potori运行所需的核心权限。Potori将获取与能量塔提名相关的邮件并提取、展示其中的信息。<br/>
                                        如果您将数据文件保存在电脑或您的Google Drive中，邮件ID将被存储在数据文件中。除此之外您的所有邮件数据将停留在浏览器页面内。
                                    </span>
                                </td>
                            </tr>
                            <tr class="mdc-data-table__row">
                                <td class="mdc-data-table__cell">
                                    <span lang="en-US">Google Drive: Files</span>
                                    <span lang="zh-CN" hidden>Google Drive：文件</span>
                                    <br/>
                                    <span class="mdc-typography--caption">
                                        <span lang="en-US">RECOMMENDED</span>
                                        <span lang="zh-CN" hidden>建议</span>
                                    </span>
                                </td>
                                <td class="mdc-data-table__cell mdc-data-table__cell--wrap">
                                    <span lang="en-US">
                                        Potori could upload your nomination data to your Google Drive manually, and download the data before fetching your mails.<br/>
                                        By using the data file, Potori will not obtain and process all mails every time, which could reduce the network traffic and time useage.<br/>
                                        The file will be storaged in a private app folder where only Potori can access.
                                    </span>
                                    <span lang="zh-CN" hidden>
                                        Potori允许您将提名数据手动上传至您的Google Drive，下次获取邮件前将下载这些数据。<br/>
                                        通过使用数据文件，Potori可以不需要每次都获取和处理所有邮件，这能有效减少网络流量和耗时。<br/>
                                        这些文件将被存储在一个私有的应用文件夹中，只有Potori能够访问。
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>
            </p>

            <h2 class="mdc-typography--headline2">
                <span lang="en-US">Workflow</span>
                <span lang="zh-CN" hidden>工作流程</span>
            </h2>
            <p class="mdc-typography--body1">
                <span lang="en-US">
                    This part will describe how Potori works.<br/>
                    For those mails related to Portal nominations, the subjects and contents are generated from several templates, some keywords are used to filter mails and extract informations.
                </span>
                <span lang="zh-CN" hidden>
                    这部分将阐述Potori如何运作。<br/>
                    与能量塔提名相关的邮件，它们的主题和内容由一些模版产生，一些关键词可用于筛选邮件和提取信息。
                </span>
                <br/>
            </p>
            <ol class="mdc-typography--body1">
                <li>
                    <span lang="en-US">
                        <strong>Open or download the nomination data file</strong><br/>
                        If you have saved a nomination data file locally, you can open it to review your nominations without login.<br/>
                        After login, Potori will try to download nomination data from your Google Drive if you have uploaded before.
                    </span>
                    <span lang="zh-CN" hidden>
                        <strong>打开或下载提名数据文件</strong><br/>
                        如果您在本地保存了数据文件，您可以直接打开它并查看您的提名而无需登录。<br/>
                        如果您曾经上传过数据文件，Potori将在登录后从您的Google Drive下载文件。
                    </span>
                </li>
                <li>
                    <span lang="en-US">
                        <strong>Obtain the target mails with filters</strong><br/>
                        Potori will obtain mails with the following filters:
                    </span>
                    <span lang="zh-CN" hidden>
                        <strong>通过筛选器获取目标邮件</strong><br/>
                        Potori将利用以下筛选器获取邮件：
                    </span>
                    <br/>

                    <div class="mdc-data-table">
                        <table class="mdc-data-table__table" aria-label="Mail Filters">
                            <thead>
                                <tr class="mdc-data-table__header-row">
                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">
                                        <span lang="en-US">Mails</span>
                                        <span lang="zh-CN" hidden>邮件</span>
                                    </th>
                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">
                                        <span lang="en-US">Filters</span>
                                        <span lang="zh-CN" hidden>筛选器</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="mdc-data-table__content">
                                <tr class="mdc-data-table__row">
                                    <td class="mdc-data-table__cell">
                                        <span lang="en-US">Confirmation</span>
                                        <span lang="zh-CN" hidden>提名确认</span>
                                    </td>
                                    <td class="mdc-data-table__cell mdc-data-table__cell--wrap">
                                        <code>from:ingress-support@nianticlabs.com Portal submission confirmation -edit -photo</code><br/>
                                        <code>from:nominations@portals.ingress.com subject:("能量塔提交確認" OR "Portal申請の受領確認" OR "Portal submission confirmation") -AP</code>
                                    </td>
                                </tr>
                                <tr class="mdc-data-table__row">
                                    <td class="mdc-data-table__cell">
                                        <span lang="en-US">Acceptance</span>
                                        <span lang="zh-CN" hidden>提名接受</span>
                                    </td>
                                    <td class="mdc-data-table__cell mdc-data-table__cell--wrap">
                                        <code>from:ingress-support@nianticlabs.com Portal review complete now available -edit -photo</code><br/>
                                        <code>from:nominations@portals.ingress.com Intel Map AP</code>
                                    </td>
                                </tr>
                                <tr class="mdc-data-table__row">
                                    <td class="mdc-data-table__cell">
                                        <span lang="en-US">Rejection</span>
                                        <span lang="zh-CN" hidden>提名拒绝</span>
                                    </td>
                                    <td class="mdc-data-table__cell mdc-data-table__cell--wrap">
                                        <code>from:ingress-support@nianticlabs.com Portal review complete reviewed -edit -photo</code><br/>
                                        <code>from:nominations@portals.ingress.com subject:("能量塔審查完畢" OR "Portal審査の完了" OR "Portal review complete") -AP</code>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br/>
                    <i>
                        <span lang="en-US">Tips: You can also create rules with these filter to label your mails automatically in Gmail.</span>
                        <span lang="zh-CN" hidden>贴士：您可以使用这些筛选器在您的Gmail中创建规则以自动分类您的邮件。</span>
                    </i>
                </li>
                <li>
                    <span lang="en-US">
                        <strong>Extract informations from the mails</strong><br/>
                        The contents will be used to extract information of the nomination, browse <a href="#part-data-usage">Data Usage</a> for more details.
                    </span>
                    <span lang="zh-CN" hidden>
                        <strong>从邮件中提取信息</strong><br/>
                        邮件内容将被用于提取提名信息，详情请见<a href="#part-data-usage">数据使用</a>部分。
                    </span>
                    <br/>
                    <span lang="en-US">As for the rejection mails, there are several templates for each rejection reason, and each one colud be identified by matching the keywords:</span>
                    <span lang="zh-CN" hidden>对于拒绝邮件，有几种不同的模版分别对应不同的拒绝原因，可以通过以下关键词来识别：</span>
                    <br/>

                    <div class="mdc-data-table">
                        <table class="mdc-data-table__table" aria-label="Keywords of Rejected Reason">
                            <thead>
                                <tr class="mdc-data-table__header-row">
                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">
                                        <span lang="en-US">Reason</span>
                                        <span lang="zh-CN" hidden>原因</span>
                                    </th>
                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">
                                        <span lang="en-US">Keywords</span>
                                        <span lang="zh-CN" hidden>关键词</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="mdc-data-table__content">
                                <tr class="mdc-data-table__row">
                                    <td class="mdc-data-table__cell">
                                        <span lang="en-US">Duplicated</span>
                                        <span lang="zh-CN" hidden>重复</span>
                                    </td>
                                    <td class="mdc-data-table__cell mdc-data-table__cell--wrap">
                                        <code>duplicate of either an existing Portal</code>
                                    </td>
                                </tr>
                                <tr class="mdc-data-table__row">
                                    <td class="mdc-data-table__cell">
                                        <span lang="en-US">Too Close</span>
                                        <span lang="zh-CN" hidden>过近</span>
                                    </td>
                                    <td class="mdc-data-table__cell mdc-data-table__cell--wrap">
                                        <code>too close to an existing Portal</code><br/>
                                        <code>能量塔過近</code>
                                    </td>
                                </tr>
                                <tr class="mdc-data-table__row">
                                    <td class="mdc-data-table__cell">
                                        <span lang="en-US">Undeclared</span>
                                        <span lang="zh-CN" hidden>未指明</span>
                                    </td>
                                    <td class="mdc-data-table__cell mdc-data-table__cell--wrap">
                                        <span lang="en-US">(Match neither of the keywords above)</span>
                                        <span lang="zh-CN" hidden>（不匹配以上任何关键词）</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li>
                    <span lang="en-US">
                        <strong>Visualize</strong><br/>
                        Potori will display the information of nominations in cards, and display data and stastistics in the Dashboard view.<br/>
                        The status, result time and rejection reason are editable, click the cards to open the <i>Details</i> dialog and edit.
                    </span>
                    <span lang="zh-CN" hidden>
                        <strong>可视化</strong><br/>
                        Potori会将提名信息展现在卡片中，并在仪表盘视图中展示数据和统计信息。<br/>
                        提名的状态、结果时间和拒绝理由可以在点击卡片打开的<i>详情</i>对话框中编辑。
                    </span>
                </li>
                <li>
                    <span lang="en-US">
                        <strong>Import</strong><br/>
                        Potori can import data from <a href="https://wayfarer.nianticlabs.com/api/v1/vault/manage" target="_blank" rel="noopener" title="Wayfarer API">Wayfarer API</a> and update the title and location of nominations. Click <i>Import</i> from menu to open the <i>Import</i> dialog, paste the JSON code from Wayfarer API and click Import.
                    </span>
                    <span lang="zh-CN" hidden>
                        <strong>导入</strong><br/>
                        Potori可以导入<a href="https://wayfarer.nianticlabs.com/api/v1/vault/manage" target="_blank" rel="noopener" title="Wayfarer API">Wayfarer API</a>中的数据以更新提名的名称和坐标。在菜单中点击<i>Import</i>打开<i>导入</i>对话框，将Wayfarer API的JSON代码粘贴并点击导入即可。
                    </span>
                </li>
                <li>
                    <span lang="en-US">
                        <strong>Save or upload the nomination data file</strong><br/>
                        You can save the nomination data to your computer by clicking the <i>Save File</i> from menu, a file named <code>Potori.json</code> will be downloaded.<br/>
                        The nomination data will <strong>NOT</strong> be uploaded to your Google Drive automatically. If you have login, you can upload the data by clicking the <i>Upload File</i> from menu.
                    </span>
                    <span lang="zh-CN" hidden>
                        <strong>保存或上传提名数据文件</strong><br/>
                        您可以通过点击菜单中的<i>Save File</i>来将提名数据保存在本地，浏览器将会下载一份名为<code>Potori.json</code>的文件。<br/>
                        提名数据<strong>不会</strong>被自动上传至Google Drive。如果您已经登录，可以点击菜单中的<i>Upload File</i>来上传文件。
                    </span>
                </li>
            </ol>
            <p class="mdc-typography--body1">
                <span lang="en-US">That's how Potori gets information of your Portal nominations from your inbox. Ingress Prime uses localized templates, which makes it difficult to find the corrent keywords, We are working on it.</span>
                <span lang="zh-CN" hidden>以上介绍了Potori如何从您的收件箱中获取您的能量塔提名信息。Ingress Prime使用了本地化的模版，这给确定关键词带来了挑战，我们正在尝试解决这个问题。</span>
            </p>

            <h2 class="mdc-typography--headline2" id="part-privacy">
                <span lang="en-US">Privacy</span>
                <span lang="zh-CN" hidden>隐私</span>
            </h2>
            <p class="mdc-typography--body1">
                    <span lang="en-US">Briefly, Potori would not collect any of your data. All of your data will be handled inside your browser, and deleted when you close the page. You can save your data in your own Google Drive (where only Potori can access) or locally, they are totally under your control.</span>
                    <span lang="zh-CN" hidden>简而言之，Potori不会收集您的任何数据。您的所有数据将在您的浏览器内进行处理，当您关闭页面时，数据也会被清除。您可以将数据保存在您的Google Drive中（只有Potori能够访问的位置）或本地，它们完全处于您的控制之下。</span>
                </p>
                <p class="mdc-typography--body1">
                    <span lang="en-US">I'm trying to protect your privacy with my knowledge, if you have any suggestion, please feel free to contact us or open an issue.</span>
                    <span lang="zh-CN" hidden>在下尽力设法保护您的隐私，如果您有任何建议，欢迎联系我们或提出issue。</span>
                </p>
    
                <h3 class="mdc-typography--headline3" id="part-data-usage">
                    <span lang="en-US">Data Usage</span>
                    <span lang="zh-CN" hidden>数据使用</span>
                </h3>
                <p class="mdc-typography--body1">
                    <ul>
                        <li>
                            <strong>
                                <span lang="en-US">Mails related to Portal nomination</span>
                                <span lang="zh-CN" hidden>与申请Portal有关的邮件</span>
                            </strong>
                            <br/>
                            <span lang="en-US">Potori will obtain and analyze confirmation, acceptance and rejection mails only.</span>
                            <span lang="zh-CN" hidden>Potori仅会获取和分析确认邮件、通过邮件和拒绝邮件。</span>
                        </li>
                        <li>
                            <strong>
                                    <span lang="en-US">Content of the mail</span>
                                    <span lang="zh-CN" hidden>邮件的内容</span>
                            </strong>
                            <br/>
                            <div class="mdc-data-table">
                                <table class="mdc-data-table__table" aria-label="Content Useage">
                                    <thead>
                                        <tr class="mdc-data-table__header-row">
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">
                                                <span lang="en-US">Content</span>
                                                <span lang="zh-CN" hidden>内容</span>
                                            </th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">
                                                <span lang="en-US">Useage</span>
                                                <span lang="zh-CN" hidden>被用于</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="mdc-data-table__content">
                                        <tr class="mdc-data-table__row">
                                            <td class="mdc-data-table__cell">
                                                <span lang="en-US">Mail ID</span>
                                                <span lang="zh-CN" hidden>邮件ID</span>
                                            </td>
                                            <td class="mdc-data-table__cell mdc-data-table__cell--wrap">
                                                <span lang="en-US">Avoid obtaining and processing the same mail every time, if you save or upload the data file.</span>
                                                <span lang="zh-CN" hidden>如果您保存或上传数据文件，邮件ID可用于避免重复获取和处理相同的邮件。</span>
                                            </td>
                                        </tr>
                                        <tr class="mdc-data-table__row">
                                            <td class="mdc-data-table__cell">
                                                <span lang="en-US">Subject</span>
                                                <span lang="zh-CN" hidden>标题</span>
                                            </td>
                                            <td class="mdc-data-table__cell mdc-data-table__cell--wrap">
                                                <span lang="en-US">Extract title of Portal.</span>
                                                <span lang="zh-CN" hidden>获取能量塔名称。</span>
                                            </td>
                                        </tr>
                                        <tr class="mdc-data-table__row">
                                            <td class="mdc-data-table__cell">
                                                <span lang="en-US">Timestamp</span>
                                                <span lang="zh-CN" hidden>时间戳</span>
                                            </td>
                                            <td class="mdc-data-table__cell mdc-data-table__cell--wrap">
                                                <span lang="en-US">Regarded as the confirmation / acceptance / rejection time of the nomination.</span>
                                                <span lang="zh-CN" hidden>作为提名的确认/接受/拒绝时间。</span>
                                            </td>
                                        </tr>
                                        <tr class="mdc-data-table__row">
                                            <td class="mdc-data-table__cell">
                                                <span lang="en-US">Photo URL</span>
                                                <span lang="zh-CN" hidden>照片地址</span>
                                            </td>
                                            <td class="mdc-data-table__cell mdc-data-table__cell--wrap">
                                                <span lang="en-US">
                                                    Show photo in the card.<br/>
                                                    Generate a short UID as the ID of Portal and identify them in mails.<br/>
                                                    <span class="mdc-typography--caption">[FULL VERSION ONLY]</span> The short UID will be used to query Brainstorming database and generate link to Brainstorming watermeter.
                                                </span>
                                                <span lang="zh-CN" hidden>
                                                    在卡片中显示照片。<br/>
                                                    生成一个短UID，作为能量塔ID以及在邮件中识别它们。<br/>
                                                    <span class="mdc-typography--caption">[仅限完整版]</span> 短UID将被用于查询Brainstorming数据库以及生成Brainstorming水表墙的链接。
                                                </span>
                                            </td>
                                        </tr>
                                        <tr class="mdc-data-table__row">
                                            <td class="mdc-data-table__cell">
                                                <span lang="en-US">Intel Map URL</span>
                                                <span lang="zh-CN" hidden>Intel Map地址</span>
                                            </td>
                                            <td class="mdc-data-table__cell mdc-data-table__cell--wrap">
                                                <span lang="en-US">Extract the coordinate and display a marker on the map.</span>
                                                <span lang="zh-CN" hidden>获取坐标并在地图中显示标记。</span>
                                            </td>
                                        </tr>
                                        <tr class="mdc-data-table__row">
                                            <td class="mdc-data-table__cell">
                                                <span lang="en-US">Mail Body</span>
                                                <span lang="zh-CN" hidden>邮件体</span>
                                            </td>
                                            <td class="mdc-data-table__cell mdc-data-table__cell--wrap">
                                                <span lang="en-US">Extract the rejection reason.</span>
                                                <span lang="zh-CN" hidden>获取拒绝原因。</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </li>
                    </ul>
                </p>
    
                <h4 class="mdc-typography--headline4">
                    <span lang="en-US">About the Data File</span>
                    <span lang="zh-CN" hidden>关于数据文件</span>
                </h4>
                <p class="mdc-typography--body1">
                    <span lang="en-US">To reduce the network traffic and time useage, Potori provides a feature which allows you to save the data file and upload it to a private app folder in your own Google Drive where only Potori could access. The informations contained in the file are described above.</span>
                    <span lang="zh-CN" hidden>为了减少网络使用和处理时间，Potori提供了一个功能让您能够保存数据文件或将其上传至您的Google Drive中的一个仅限Potori访问的私有应用文件夹。文件中包含的信息如前文所述。</span>
                </p>
            
            <h2 class="mdc-typography--headline2">
                <span lang="en-US">Contact</span>
                <span lang="zh-CN" hidden>联系</span>
            </h2>
            <p class="mdc-typography--body1">
                <span lang="en-US">If you have any question, advice or want to help us improve Potori, please feel free to contact us directly via <a href="https://t.me/Seele585" title="Telegram@SeeleUN">Telegram</a> or <a href="https://twitter.com/lucka_me" title="Twitter@lucka_me">Twitter</a>!</span>
                <span lang="zh-CN" hidden>如果您有任何疑问、建议或希望帮助完善Potori，请随时通过<a href="https://t.me/SeeleUN" title="Telegram@Seele585">Telegram</a>或<a href="https://twitter.com/lucka_me" title="Twitter@lucka_me">Twitter</a>与我们联系！</span>
            </p>
        </div>

    </body>
</html>