@use "@material/card";

@include card.core-styles;

@media (prefers-color-scheme: dark) {
    :root {
        --map-style: dark-v10;
    }

    .mapboxgl-popup-content {
        background: var(--mdc-theme-surface) !important;
    }

    .mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
        border-bottom-color: var(--mdc-theme-surface) !important;
    }
    
    .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
        border-top-color: var(--mdc-theme-surface) !important;
    }

    .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
        border-left-color: var(--mdc-theme-surface) !important;
    }

    .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
        border-right-color: var(--mdc-theme-surface) !important;
    }
}
:root {
    --map-style: streets-v11;
}