.map-card {
    flex: 3;
    flex-shrink: 1;
    min-width: 300px;

    > div {
        width: 100%;
        height: 100%;
        clip-path: inset(100% round 4px);
        -webkit-clip-path: inset(0 round 4px)
    }
}

:root {
    --map-style: streets-v11;
}

@media (prefers-color-scheme: dark) {
    :root {
        --map-style: dark-v10;
    }

    .mapboxgl-popup-content {
        background: var(--mdc-theme-surface) !important;
    }

    .mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
        border-bottom-color: var(--mdc-theme-surface) !important;
    }
    
    .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
        border-top-color: var(--mdc-theme-surface) !important;
    }

    .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
        border-left-color: var(--mdc-theme-surface) !important;
    }

    .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
        border-right-color: var(--mdc-theme-surface) !important;
    }
}