@use '@material/theme';
@use '@material/typography/mdc-typography';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

:root {
    --mdc-theme-primary: #3B1E5F;
    --mdc-theme-secondary: #2578B5;

    --mdc-theme-on-surface: #000;
    --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.5);

    --color-pending: #CAAF85;
    --color-pending--dark: #988058;
    --color-pending--light: #fEE1B5;
    --color-accepted: #35C572;
    --color-accepted--dark: #009345;
    --color-accepted--light: #71F9A1;
    --color-rejected: #B0373C;
    --color-rejected--dark: #7A0016;
    --color-rejected--light: #E76866;
}

@media (prefers-color-scheme: dark) {
    :root {
        --mdc-theme-primary: #68478d;
        --mdc-theme-background: #121212;
        --mdc-theme-surface: #1e1e1e;
        --mdc-theme-on-surface: #FFF;
        --mdc-theme-text-primary-on-light: #FFF;
        --mdc-theme-text-disabled-on-light: rgba(255, 255, 255, 0.5);
    }

    body {
        color: #FFF !important;
    }
}

.status-pending  { color: var(--color-pending ) !important; }
.status-accepted { color: var(--color-accepted) !important; }
.status-rejected { color: var(--color-rejected) !important; }

.status-pending--bg  { background-color: var(--color-pending ) !important; }
.status-accepted--bg { background-color: var(--color-accepted) !important; }
.status-rejected--bg { background-color: var(--color-rejected) !important; }

code { font-size: 14px; }
[hidden]{ display:none !important; }
.fullwidth { width: 100%; }

.margin-l--4 { margin-left: 4px; }
.margin-l--8 { margin-left: 8px; }
.margin-r--8 { margin-right: 8px;}
.margin-h--4 { margin-left: 4px; margin-right: 4px; }
.margin-v--8 { margin-top: 8px; margin-bottom: 8px; }

.padding--4 { padding: 4px; }
.padding--8 { padding: 8px; }
.padding--16 { padding: 16px; }

.text-nowrap { white-space: nowrap; }

/* Flexbox */
.flex-box { display: flex; }
.flex-box-row--wrap   { display: flex; flex-flow: row      wrap; }
.flex-box-row--nowrap { display: flex; flex-flow: row    nowrap; }
.flex-box-col         { display: flex; flex-flow: column nowrap; }
/* Main Axis */
.flex-justify-content--start   { justify-content: flex-start; }
.flex-justify-content--between { justify-content: space-between; }
.flex-justify-content--around  { justify-content: space-around; }
/* Cross Axis */
.flex-align-items--start    { align-items: flex-start; }
.flex-align-items--baseline { align-items: baseline; }
.flex-align-items--center   { align-items: center; }
/* Multi Axises */
.flex-align-content--start { align-content: flex-start; }
/* Item */
.flex--1 { flex: 1; }
.flex--2 { flex: 2; }
.flex--3 { flex: 3; }
.flex-grow--1 { flex-grow: 1; }
.flex-grow--2 { flex-grow: 2; }
.flex-shrink--0 { flex-shrink: 0 !important; }
.flex-shrink--1 { flex-shrink: 1 !important; }

/* Contents */
html { height: 100%; }

body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    background-color: var(--mdc-theme-background) !important;
}

h1, h2, h3, h4 { margin-block-end: 0; }
a { color: var(--mdc-theme-text-primary-on-light); }

.fa.mdc-icon-button,
.far.mdc-icon-button {
    font-size: 18px;
}

.mdc-card {
    margin: 4px 8px;
    flex-basis: auto;
}

/* Mobile View */
@media screen and (max-width: 620px) {
    .view-hide { display: none !important; }
}