@use '@material/typography';

.bs-synch-card {
    flex: 1;
    flex-shrink: 1;
    > .content {
        > .synch {
            white-space: nowrap;

            > .number {
                font-weight: 300;
                font-size: 6rem;
                line-height: 6rem;
            }

            > .percent {
                font-size: 2rem;
                line-height: 2rem;
            }
        }

        > .desc {
            @include typography.typography(body1);
            white-space: nowrap;
        }
    }
}