.list-view {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    min-width: 300px;
    padding: 4px;
    box-sizing: border-box;
    overflow-y: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    @media not all and (min-width: 620px) {
        &.view-hide {
            display: none;
        }
    }
}