@use '~@material/typography';

.dashboard {
    flex: 2;
    height: 100%;
    box-sizing: border-box;
    padding: 4px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    overflow-y: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    @media screen and (max-width: 620px) {
        flex-flow: column nowrap;
        align-items: stretch;
    }

    > .mdc-card {
        height: 200px;
        margin: 4px;
        flex-basis: 0%;

        @media screen and (max-width: 620px) {
            margin: 4px 8px;
            min-width: 0;
            min-height: 200px;
            flex: 1 0;
        }

        > .content {
            padding: 8px;
            flex-grow: 1;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;

            > .title {
                @include typography.typography(headline6);
            }
    
            > .chart-container {
                flex-grow: 1;
                position: relative;
            }
        }
    }
}