:root {
    --mdc-theme-primary: #3b1e5f !important;
    --mdc-theme-secondary: #2578B5 !important;
    --color-pending: #CAAF85;
    --color-accepted: #35C572;
    --color-rejected: #B0373C;
}
/*
@media (prefers-color-scheme: dark) {
    :root {
        --mdc-theme-primary: #68478d !important;
        --mdc-theme-background: #121212 !important;
        --mdc-theme-surface: #1e1e1e !important;
        --mdc-theme-on-surface: #FFF !important;
        --mdc-theme-text-primary-on-background: #FFF !important;
    }

    body {
        color: #FFF !important;
    }

    .mdc-top-app-bar {
        background-color: var(--mdc-theme-surface) !important;
    }

    .mdc-dialog .mdc-dialog__content,
    .mdc-dialog .mdc-dialog__title {
        color: #FFF !important;
    }

    .mdc-radio__native-control:enabled:not(:checked)+.mdc-radio__background .mdc-radio__outer-circle {
        border-color: #FFF !important;
    }

    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__icon,
    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
        color: #FFF !important;
    }

    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
        border-color: #FFF !important;
    }

    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
        color: #FFF !important;
    }

    .mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__leading,
    .mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__notch,
    .mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__trailing {
        border-color: #FFF !important;
    }

    
    .mdc-select:not(.mdc-select--disabled) .mdc-select__native-control,
    .mdc-select:not(.mdc-select--disabled) .mdc-select__selected-text,
    .mdc-select:not(.mdc-select--disabled) .mdc-floating-label {
        color: #FFF !important;
    }

    .mdc-select__dropdown-icon {
        background: url("data:image/svg+xml,%3Csvg%20width%3D%2210px%22%20height%3D%225px%22%20viewBox%3D%227%2010%2010%205%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Shape%22%20stroke%3D%22none%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%20opacity%3D%220.54%22%20points%3D%227%2010%2012%2015%2017%2010%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E") no-repeat center !important;
    }

    .mdc-menu .mdc-list {
        color: #FFF !important;
    }
}*/

.status-pending  { color: var(--color-pending ) !important; }
.status-accepted { color: var(--color-accepted) !important; }
.status-rejected { color: var(--color-rejected) !important; }

.status-pending--bg  { background-color: var(--color-pending ) !important; }
.status-accepted--bg { background-color: var(--color-accepted) !important; }
.status-rejected--bg { background-color: var(--color-rejected) !important; }

code { font-size: 14px; }
[hidden]{ display:none !important; }
.fullwidth { width: 100%; }

.margin-l--4 { margin-left: 4px; }
.margin-l--8 { margin-left: 8px; }
.margin-h--4 { margin-left: 4px; margin-right: 4px; }
.margin-v--8 { margin-top: 8px; margin-bottom: 8px; }

.padding--16 { padding: 16px; }

/* Flexbox */
.flex-box { display: flex; }
.flex-box-row--wrap   { display: flex; flex-flow: row      wrap; }
.flex-box-row--nowrap { display: flex; flex-flow: row    nowrap; }
.flex-box-col         { display: flex; flex-flow: column nowrap; }
/* Main Axis */
.flex-justify-content--start   { justify-content: flex-start; }
.flex-justify-content--between { justify-content: space-between; }
.flex-justify-content--around  { justify-content: space-around; }
/* Cross Axis */
.flex-align-items--start  { align-items: flex-start; }
.flex-align-items--center { align-items: center; }
/* Item */
.flex-grow--1 { flex-grow: 1; }
.flex-shrink--1 { flex-shrink: 1; }

/* Contents */
body { margin: 0; }

body.fullheight {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
}

.logo { height: 32px; }

.mdc-linear-progress__bar-inner {
    background-color: var(--mdc-theme-secondary) !important;
}

.main-box {
    flex: 1;
    display: flex;
    min-height: 0%;
    flex-flow: row wrap;
}

/* Optimize map and card list for mobile */
@media screen and (max-width: 600px) {
    #map-main { height: 30% !important; }
    #cardList { height: 70% !important; }
}

/* Map */
#map-main {
    flex: 2;
    height: 100%;
    min-width: 300px;
}

.map-marker {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Card List */
#cardList {
    flex: 1;
    background-color: var(--mdc-theme-background);
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    overflow-y: scroll;
    min-width: 300px;
    height: 100%;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

#cardList > :first-child { margin-top:    8px !important; }
#cardList > :last-child  { margin-bottom: 8px !important; }

/* Card */
.mdc-card {
    margin: 4px 8px;
    flex-shrink: 0;
    flex-basis: auto;
}

.mdc-card-info-box {
    padding: 8px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.mdc-card-info-content {
    margin-right: 8px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.mdc-card img {
    object-fit: cover;
    object-position: center;
    width: 120px;
    min-width: 120px;
    height: 120px;
    min-height: 120px;
}

/* Dialog */
.mdc-dialog-content {
    padding-top: 8px !important;
    display: flex;
    flex-flow: row wrap;
}

.mdc-dialog-content-block {
    padding: 0px 8px;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}

#dialog-details img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 150px;
}

#map-dialog-details {
    min-height: 180px;
    flex-grow: 1;
}

/* Switch */
.mdc-switch-box {
    padding: 4px 0px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.mdc-switch-box > label {
    margin-left: 8px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

/* Icon */
.material-icons.md-18 { font-size: 18px; }

/* Data Table */
.mdc-data-table__cell--wrap { white-space: normal !important; }