@use '@material/button';
@use '@material/dialog';
@use '@material/typography/mdc-typography';

@include dialog.core-styles;

.mdc-dialog-content-block {
    padding: 0px 8px;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}

textarea.code {
    font-family: monospace;
    line-height: 1rem !important;
}

@media (prefers-color-scheme: dark) {
    .mdc-dialog .mdc-dialog__content,
    .mdc-dialog .mdc-dialog__title {
        color: #FFF !important;
    }
}