@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
@import url('./dark.css');

:root {
    --map-style: //styles/mapbox/streets-v11
}

/* Dashboard */
.dashboard > .mdc-card {
    height: 200px;
    margin: 4px !important;
    flex-basis: 0%;
}

.container-chart {
    flex-grow: 1;
    position: relative;
}

canvas.canvas-chart--h { width:  100% !important; }
canvas.canvas-chart--v { height: 100% !important; }

/* Switch */
.mdc-switch-box {
    padding: 4px 0px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.mdc-switch-box > label {
    margin-left: 0.6rem;
}