@use '@material/switch';
@use '@material/typography';

@include switch.core-styles;

.filter-card {
    flex: 2;
    min-width: 250px;
    > .content {
        justify-content: flex-start !important;

        > .subtitle {
            @include typography.typography(subtitle1);
        }

        .type-box {
            display: flex;
            flex-flow: row nowrap;
        }

        .reason-box {
            flex: 1;
            display: flex;
            flex-flow: row wrap;
            overflow-y: auto;
        }

        .type-box,.reason-box {
            align-content: flex-start;

            > div {
                margin: unset 4px;
                padding: 4px 0px;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;

                > label {
                    margin-left: 0.4rem;
                }
            }
        }
    }
}