@use '@material/switch';
@use '@material/typography';

@include switch.core-styles;

.mdc-switch-box {
    padding: 4px 0px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.mdc-switch-box > label {
    margin-left: 0.4rem;
}