@media (prefers-color-scheme: dark) {
    :root {
        --mdc-theme-primary: #68478d !important;
        --mdc-theme-background: #121212 !important;
        --mdc-theme-surface: #1e1e1e !important;
        --mdc-theme-on-surface: #FFF !important;
        --mdc-theme-text-primary-on-light: #FFF !important;
        --mdc-theme-text-disabled-on-light: rgba(255, 255, 255, 0.5) !important;
    }

    body {
        color: #FFF !important;
    }

    .mdc-icon-button::before, .mdc-icon-button::after {
        background: #FFF !important;
    }

    .mdc-card--outlined {
        border-style: none !important;
    }

    .mdc-card__action--icon:not(:disabled) {
        color: var(--mdc-theme-primary) !important;
    }
    
    .mdc-card__primary-action::before, .mdc-card__primary-action::after {
        background: #FFF !important;
    }

    .mdc-menu .mdc-list {
        color: #FFF !important;
    }
}