@media (prefers-color-scheme: dark) {
    :root {
        --mdc-theme-primary: #68478d !important;
        --mdc-theme-background: #121212 !important;
        --mdc-theme-surface: #1e1e1e !important;
        --mdc-theme-on-surface: #FFF !important;
        --mdc-theme-text-primary-on-light: #FFF !important;
        --mdc-theme-text-disabled-on-light: rgba(255, 255, 255, 0.5) !important;
    }

    .mdc-menu .mdc-list {
        color: #FFF !important;
    }
}