@media (prefers-color-scheme: dark) {

    .mdc-icon-button::before, .mdc-icon-button::after {
        background: #FFF !important;
    }

    .mdc-card--outlined {
        border-style: none !important;
    }

    .mdc-card__action--icon:not(:disabled) {
        color: var(--mdc-theme-primary) !important;
    }
    
    .mdc-card__primary-action::before, .mdc-card__primary-action::after {
        background: #FFF !important;
    }

    .mdc-menu .mdc-list {
        color: #FFF !important;
    }

    .mdc-text-field .mdc-text-field__icon,
    .mdc-text-field .mdc-text-field__input {
        color: #FFF !important;
    }

    .mdc-text-field--outlined:not(.mdc-text-field--focused) .mdc-notched-outline__leading,
    .mdc-text-field--outlined:not(.mdc-text-field--focused) .mdc-notched-outline__notch,
    .mdc-text-field--outlined:not(.mdc-text-field--focused) .mdc-notched-outline__trailing {
        border-color: #FFF !important;
    }

    .mdc-text-field:not(.mdc-text-field--focused) .mdc-floating-label {
        color: #FFF !important;
    }

    .mdc-text-field-helper-text {
        color: var(--mdc-theme-text-primary-on-light) !important;
    }
}