.flex-justify-space-between { justify-content: space-between; }
[hidden]{ display:none !important; }
.fullwidth { width: 100%; }
.margin-l-4 { margin-left: 4px; }
.margin-l-8 { margin-left: 8px; }

:root {
    --mdc-theme-primary: #3b1e5f !important;
    --mdc-theme-secondary: #2578B5 !important;
    --color-pending: #CAAF85;
    --color-accepted: #35C572;
    --color-rejected: #B0373C;
}

.status-pending { color: #CAAF85 !important; }
.status-accepted { color: #35C572 !important; }
.status-rejected { color: #B0373C !important; }

body {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.logo { height: 32px; }

.main-box {
    flex: 1;
    display: flex;
    min-height: 0%;
    flex-flow: row wrap;
}

#map {
    flex: 2;
    height: 100%;
    min-width: 300px;
}

@media screen and (max-width: 600px) {
    #map { height: 30% !important; }
    #cardList { height: 70% !important; }
}

#cardList {
    flex: 1;
    background-color: #E5E5E5;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    overflow-y: scroll;
    min-width: 300px;
    height: 100%;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.mdc-card {
    margin: 4px 8px;
    flex-shrink: 0;
    flex-basis: auto;
}

.mdc-card-media {
    display: flex;
    flex-flow: row nowrap;
}

.mdc-card-info-box {
    padding: 8px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.mdc-card-info-content {
    margin-right: 8px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#cardImage {
    object-fit: cover;
    object-position: center;
    width: 120px;
    height: 120px;
}

.mdc-dialog-content {
    padding-top: 8px !important;
    display: flex;
    flex-flow: row wrap;
}

.mdc-dialog-content-block {
    padding: 0px 8px;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}

.mdc-switch-box {
    padding: 4px 0px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.mdc-switch-box > label {
    margin-left: 8px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.mdc-linear-progress__bar-inner {
    background-color: var(--mdc-theme-secondary, #6200ee) !important;
}