name: CI-Next

on:
  pull_request:
    branches: [ dev ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - uses: actions/setup-node@v2.2.0
        with:
          node-version: 12.x
      - name: Initiate
        run: npm ci
      - name: Build Potori
        run: npm run build